body {
    margin: 0px;
   overflow: hidden;
   padding: 0px;
   }

.sun{
    position: absolute;
    top: 47%;
    left: 40%;
    width: 300px;
    height: 100px;
    background: linear-gradient(yellow,orange);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;

}

.sky {
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient(to top, #FFC087,#FFA897,#FF8C93,#FF5F9D); 
}


.ocean{
    height: 30%;
    width: 200%;
    position: absolute;
    left: -50%;
    top:40%;
    border-radius: 0 0 50% 50%;
    background:linear-gradient(rgba(8,122,193,1),rgba(18,156,192,1),rgba(42,212,229,1),rgba(150,233,239,1),rgba(222,236,211,1));
    animation: wave ease-in-out 5s infinite;
    transform-origin: 50% 0%;
    overflow: hidden;
    z-index: 1;



}

@keyframes wave{
    0%{
        transform: scaleY(1);
    }

    35%{
        transform: scaleY(1.3);
    }
    40%{
        transform: scaleY(1.4);
    }
    69%{
        transform: scaleY(1);
    }
    100%{ 
        transform: scaleY(1);
    }
}
.sand{
    height: 100%;
    width: 100%;
    background-color: #FDF1d7;
    position: absolute;
    top:65%;
    z-index: 2;

}

.seaFoam{

    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 0%,transparent 90%,white 100%);
    animation: seaFoam ease-in-out 5s infinite;
    z-index: 2;
}


@keyframes seaFoam{
0%{
    opacity: 0;
}
30%{
    opacity: 1;
}

50%{    opacity: 0;
}
100%{
    opacity: 0;
}
}


.seaFront{
    height: 10%;
    width: 100%;
    background:#fdf1d7 ;
    position: absolute;
    top: 90% ;
}

.wetSand{

    height:37.5%;
    width: 200%;
    position: absolute;
    left: -50%;
    top: 40%;
    border-radius: 0 0 50% 50%;
    background: #ecc075;
    box-shadow: 0 10px 10px 0 #ecc075;
    animation: wetSand ease-in-out 10s infinite;
    z-index: 1;

}

@keyframes wetSand{
    0%{
        opacity: 0.2;
    }
    34%{
        opacity: 0.2;
    }

    35%{
        opacity: 0.7;

    }

    100%{
        opacity: 0.2;
    }

}


.chest{
    position: absolute;
    z-index: 3;
}


#chest1{
    left: 29%;
    
}

#chest2{
    left:50%;
}


#heading{
    text-align: center;
    font-family: "Oswald";

}

.congrats{
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    width: 530px;
    height: 140px;
    border-radius: 10px;
    background-color: beige;
  

}


p{  display: flex;
    flex-direction: column;
    border-right: 1px solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
    typing 2s steps(176),
    cursor .4s step-end infinite alternate;
 }
@keyframes cursor{
    50%{ border-color: transparent;}
}
@keyframes typing{
    from {width:0px}
    to{ width: 100%;}
}